{
  "slackWebhookUrl": "xyz.com",
  "gcloudServiceAccountId":"xyz@xyz.iam.gserviceaccount.com",
  "gcloudProjectName": "foo",
  "gcloudModuleName": "default",
  "googleAppenginePath": "local",
  "apiBranch": "master"
}